$mainColor: purple; //SASS 문법

.animation-enter {
  opacity: 0;
}

.animation-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.red {
  color: $mainColor;
}

@mixin func() {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.btn {
  margin-left: 5px;
}

.myAlert {
  @include func();
}

.myAlertYellow {
  @extend .myAlert;
  background: #ffe591;
}

.myAlert p {
  margin-bottom: 0;
}

// div.container h4 {
//   color: blue;
// }
// div.container p {
//   color: green;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }
